<section class="container forms show-signup">
    <div class="form signup">
        <div class="form-content">
            <header>Signup</header>
            <form [formGroup]="form" (ngSubmit)="register()">
                <div class="field input-field">
                    <input type="text" formControlName="fullName" placeholder="Full name" class="input">
                </div>
                <div class="field input-field">
                    <input type="email" formControlName="email" placeholder="Email" class="input">
                </div>
                <div class="field input-field">
                    <input type="text" formControlName="phoneNumber" placeholder="Phone" class="input">
                </div>
                <div class="field input-field">
                    <input type="password" formControlName="password" placeholder="Password" class="password">
                    <i class='bx bx-hide eye-icon'></i>
                </div>
                <div class="field button-field">
                    <button type="submit">Signup</button>
                </div>
            </form>
            <div class="form-link">
                <span>Already have an account? <a routerLink="/login" class="link login-link">Login</a></span>
            </div>
        </div>
        <div class="line"></div>
        <div class="media-options">
            <asl-google-signin-button type="icon" size="large" theme="outline" text="signin_with" shape="rectangular" logo_alignment="left"></asl-google-signin-button>
            <img src="../../../../assets/images/facebook.png" (click)="loginWithFacebook()" style="cursor: pointer; height: 40px; margin: 2px 0px 0px 25px;">
        </div>
    </div>
</section>
