.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 500px; /* Adjust as needed */
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
  }
  
  .slider-content {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: left;
  }
  
  .banner-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .btn {
    background-color: #000;
    border: none;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
  }
  
  .carousel-control-prev {
    left: 10px;
  }
  
  .carousel-control-next {
    right: 10px;
  }
  