<section>
  <div class="container">
    <button class="add-btn">Add New Tour</button>
    <ul class="cards">
      @for(tour of datas; track tour.id){
      <li class="one-card" (click)="redirectToSingle(tour.id)">
        <img
          [src]="'https://localhost:7053' + tour.picturePath"
          alt="Picture"
        />
        <div class="title-zone">
          <h2>{{ tour.whereEx }}</h2>
          <span>From: {{ tour.price }} UZS</span>
        </div>
      </li>
      }
    </ul>
  </div>
</section>
