* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1280px;
}


.cards{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;

}

.one-card{
    width: 350px;
    cursor: pointer;
    list-style: none;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    transition: 0.3s ease all;
    border-radius: 9px;
    overflow: hidden;


    &:hover{
        box-shadow: 0px 0px 30px 0px black;
    }

    img{
        width: 100%;
    }

    .title-zone{
        width: 300px;
        padding: 10px;

    }
}

.title-zone span{
    font-weight: 700;
    font-size: 20px;
    color: royalblue;

}

.title-zone h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
}

.add-btn{
    background-color: white;
    border: 1px solid royalblue;
    border-radius: 2px;
    color: royalblue;
    font-size: 10px;
    width: 90px;
    height: 45px;
    transition: 0.3s ease all;

    &:hover{
        background-color: royalblue;
        color: white;
        box-shadow: 1px 1px 10px 1px royalblue;
        cursor: pointer;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }