<table style="border: 1px solid black; height: 400px; width: 420px;">
    <tr>
        <th>
            id
        </th>
        <th>
            email
        </th>
    </tr>
    @for(data of emails; track data.id)
    {
        <tr>
            <td style="border: 1px solid black;">
                {{data.id}}
            </td>
            <td style="border: 1px solid black;">
                {{data.emailAddress}}
            </td>
        </tr>
    }
</table>
<form (ngSubmit)="CreateEmail()" class="commentForm">
    <label for="c-email">
        <input type="c-email" id="c-email" name="email" [(ngModel)]="model.emailAddress" placeholder="exapmle@gmail.com or Name">
    </label>
    <button type="submit">Submit</button>
</form>