.settings {
    width: 45px;
    height: 45px;
    background-color: red;
    border-radius: 20px;
    top: 600px;
    right: 10px;
    position: fixed;
    padding: 0 auto;

    svg {
        width: 45px;
        height: 45px;
        margin: 0 auto;
    }
}