<h3>Write Tour Id</h3>
<div class="mb-3">
    <label for class="form-label">Tour Id</label>
    <input
        type="number"
        class="form-control"
        name
        id
        aria-describedby="helpId"
        placeholder [(ngModel)]="tourid"/>
    <button type="submit" (click)="getCommentsByTourId()">Submit</button>
</div>

<div class="cards">
    @for(cmt of comments;track cmt.id){
    <div class="card">
        <button type="button" (click)="deleteComment(cmt.id)" class="del-btn">Delete</button>
        <h1>{{cmt.from}}</h1>
        <p>{{cmt.message}}</p>
        <span>Read more</span>
    </div>
    }
</div>
