.cards {
    padding-top: 50px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;

    .card {
        position: sticky;
        top: 0;
        background: white;
        padding: 1.5rem;
        width: 390px;
        border-radius: 4px;
        transition: 0.3s ease all;

        &:hover {
            box-shadow: 1px 1px 10px 1px;
        }


        .del-btn {
            background-color: white;
            border: 1px solid red;
            color: red;
            width: 80px;
            height: 30px;

            &:hover {
                background-color: red;
                cursor: pointer;
                color: white;
                box-shadow: 1px 1px 10px 1px red;
            }

        }
    }
}

.card span {
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    cursor: pointer;
}