<app-navbar></app-navbar>
<section>
    <div class="container main-zone">
        <div class="pic-zone">
            <a *ngIf="tour?.picturePath" target="_blank" [href]="'https://localhost:7053' + tour.picturePath">
                <img [src]="'https://localhost:7053' + tour.picturePath" alt="">
            </a>
        </div>
        <div class="main-title">
            <h2>{{tour.whereEx}}</h2>
            <span>{{tour.price}} UZS</span>
            <hr>
            <p>{{tour.subtitle}} </p>
            <form (ngSubmit)="bookTour()">
                <label for="name" class="form-lbl">
                    Your Name<br>
                    <input id="name" name="name" type="text" [(ngModel)]="book.name">
                </label>

                <label for="email" class="form-lbl">
                    Your e-mail<br>
                    <input id="email" name="email" type="text" [(ngModel)]="book.email">
                </label>

                <label for="ph" class="form-lbl">
                    Your phone-number<br>
                    <input id="ph" name="ph" type="text" [(ngModel)]="book.phoneNumber">
                </label>
                <button type="submit">To Book</button>
            </form>
            <hr>
        </div>
    </div>
    <div class="container">
        <div class="desc-reviews">
            <button type="button" (click)="changeTo()">Description</button>
            <button type="button" (click)="changeTo()">Reviews</button>
        </div>
        @if(isDescriptionVisible()){
            <div class="description">
                {{tour.description}}
            </div>
        }
        @else {
            <div class="cards">
                @for(cmt of comments;track cmt.id){
                <div class="card">
                    <h1>{{cmt.from}}</h1>
                    <p>{{ cmt.message.slice(0, 100) }}</p>
                    <span>Read more</span>
                </div>}
            </div>
        }
    </div>
</section>
<app-footer></app-footer>