<section>
    <div class="container main-zone">
        <div class="pic-zone">
            <a target="_blank" [href]="'https://localhost:7053' + tour.picturePath">
                <img [src]="'https://localhost:7053' + tour.picturePath.toString()" alt="rasm">
            </a>
        </div>
        <div class="main-title">
            <button type="button" (click)="deleteTour(tour.id)" class="del-btn">Delete</button>
            <button type="button" onclick="window.dialog.showModal()" class="upt-btn">Update</button>
            <h2>{{tour.whereEx}}</h2>
            <span>{{tour.price}} UZS</span>
            <hr>
            <p>{{tour.subtitle}} </p>
            <form action="">
                <label for="" class="form-lbl">
                    Your Name<br>
                    <input type="text">
                </label>

                <label for="" class="form-lbl">
                    Your e-mail<br>
                    <input type="text">
                </label>

                <label for="" class="form-lbl">
                    Your phone-number<br>
                    <input type="text">
                </label>
                <button type="submit">To Book</button>
            </form>
            <hr>
        </div>
    </div>
    <div class="container">
        <div class="desc-reviews">
            <button type="button" (click)="changeTo()">Description</button>
            <button type="button" (click)="changeTo()">Reviews</button>
        </div>
        @if(isDescriptionVisible()){
            <div class="description">
                {{tour.description}}
            </div>
        }
        @else {
            @for(comment of comments; track comment.id){
                <div>
                    {{comment.message}}
                </div>
            }
        }
    </div>
</section>

<dialog id="dialog">
	<form *ngIf="tour" (ngSubmit)="updateTour()">
        <label for="where-ex">Where Ex
            <input type="text" id="where-ex" name="where-ex" [(ngModel)]="updateModel.WhereEx">
        </label>
        <label for="where">Where
            <input type="text" id="where" name="where" [(ngModel)]="updateModel.Where">
        </label>
        <label for="subt">Subtitle
            <textarea type="text" id="subt" name="subt" [(ngModel)]="updateModel.Subtitle"></textarea>
        </label>
        <label for="desc">Description
            <textarea type="text" id="desc" name="desc" [(ngModel)]="updateModel.Description"></textarea>
        </label>
        <label for="price">Price
            <input type="number" id="price" name="price" [(ngModel)]="updateModel.Price">
        </label>
        <label for="pic">Picture
            <input type="file" name="pic" id="pic" [(ngModel)]="updateModel.PicturePath" (change)="onFileChange($event)" accept="image/*">
        </label>
        <button type="submit" style="background-color: green; color: aliceblue; cursor:pointer;">Update</button>
    </form>
	<button onclick="window.dialog.close();" aria-label="close" class="x">❌</button>
</dialog>